.titulo
{
    font-family: 'Satisfy', cursive;
    margin-top: 1%;
}
.carrito
{
 width: 5px; 
}
.items
{
    margin-top: 2%;
}
.central
{
    width: 100%;
}
.navbar
{
    background-color:#474b4e ;
    
}
.burger-txt
{
    text-align: center;
}
.card-img-top-mc
{
   width: 100% !important;
   height: 150px;
   object-fit: cover;
}
.card-size
{
    width: 99%;
}
.p-container
{
 height: 185px;
}

